@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Special+Gothic+Condensed+One&family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');
*{
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}
:root{
   --dark-navy : #0F172A; 
   --slate : #1E293B;
   --blue : #38BDF8;
   --softwhite :#F1F5F9;
   --gray : #94A3B8; 
}
body{
   font-family: "Zalando Sans", sans-serif;
   background-color: var(--dark-navy);
   color: var(--softwhite);
   line-height: 1.6;
}
.container{
   max-width: 1100px;
   margin: auto;
   width: 90%;
}

header{
   background-color: var(--dark-navy);
   position: sticky;
   top: 0;
   z-index: 1000;
}
nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px 0;
}
nav span{
   color: var(--blue);
}
nav ul{
   list-style: none;
   display: flex;
   gap: 20px;
}
nav a{
   text-decoration: none;
   color: var(--softwhite);
   transition: 0.3s;
}
nav a:hover{
   color: var(--blue);
}
section{
   padding: 50px 0;
   border-top: 1px solid var(--gray);
}
/* Hero */
section h2{
   color: var(--softwhite);
}
#hero{
   height: 90vh;
   display: flex;
   align-items: center;
}
#hero h2{
   font-size: 41px;
}
#hero span{
   color: var(--blue);
}
#hero p{
   margin: 15px 0;
   color: var(--gray);
}
.btn{
   display: inline-block;
   padding: 10px 20px;
   background-color: var(--blue);
   color: var(--dark-navy);
   text-decoration: none;
   border-radius: 5px;
   font-weight: 600;
}

/* About */
#about p {
   color: var(--gray);
}

/* skills */
.skills{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
   gap: 20px;
}
.skills div{
   background-color: var(--slate);
   padding: 20px;
   text-align: center;
   border-radius: 8px;
   transition: 0.3s;
}
.skills div:hover{
   background-color: var(--gray);
   color: var(--dark-navy);
}

/* project */
.projects{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   gap: 20px;
}
article{
   background-color: var(--slate);
   padding: 20px;
   border-radius: 8px;
}


footer{
   text-align: center;
   margin: 50px 0;
}
